*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuadro{
    display: block;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
